<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>297859216277-69mi8cl5h3hbi7e8oi3ivhm1a3ksr6sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.297859216277-69mi8cl5h3hbi7e8oi3ivhm1a3ksr6sh</string>
	<key>API_KEY</key>
	<string>AIzaSyAtzT55GjRiPgBX5rkjvByKHRgfejRD_cY</string>
	<key>GCM_SENDER_ID</key>
	<string>297859216277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.m12000.Artable</string>
	<key>PROJECT_ID</key>
	<string>laramobile-ee0aa</string>
	<key>STORAGE_BUCKET</key>
	<string>laramobile-ee0aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297859216277:ios:3653eceb408ede1b</string>
	<key>DATABASE_URL</key>
	<string>https://laramobile-ee0aa.firebaseio.com</string>
</dict>
</plist>